@model RsaViewModel
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<h4>Start Encrypting Files Here</h4>
<hr />
@if (ViewBag.Message != null)
{
<div class="alert alert-success alert-dismissible" style="margin-top:20px">
    @ViewBag.Message
</div>}

<form method="post" enctype="multipart/form-data">
    
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Key pair name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><label>AnotherTestKey</label></td>
                <td><button class="btn btn-primary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Send</button></td>
                <td><button type="submit" class="btn btn-info" asp-controller="File" asp-action="UploadToFileSystem">Rename</button></td>
                <td><button type="submit" class="btn btn-danger">Delete</button></td>
            </tr>
        <tr>
            <th scope="row">2</th>
            <td><label>Test</label></td>
            <td><button class="btn btn-primary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Send</button></td>
            <td><button type="submit" class="btn btn-info" asp-controller="File" asp-action="UploadToFileSystem">Rename</button></td>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><label>TestKey</label></td>
            <td><button class="btn btn-primary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Send</button></td>
            <td><button type="submit" class="btn btn-info" asp-controller="File" asp-action="UploadToFileSystem">Rename</button></td>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><label>TestKey1</label></td>
            <td><button class="btn btn-primary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Send</button></td>
            <td><button type="submit" class="btn btn-info" asp-controller="File" asp-action="UploadToFileSystem">Rename</button></td>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><label>TestKey2</label></td>
            <td><button class="btn btn-primary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Send</button></td>
            <td><button type="submit" class="btn btn-info" asp-controller="File" asp-action="UploadToFileSystem">Rename</button></td>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>

</form>
