@{
    ViewData["Title"] = "About project";
}
<h1>@ViewData["Title"]</h1>

<p>Дипломный проект</p>

<p>Тема: "Сетевая система обмена файлами с функцией шифрования"</p>
<p>Подготовила студентка группы П-26з</p>
<p>Грушкевич Марина Владимировна</p>